<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= "Nationwide Home Warranty Administration#{@page_title ? ' - ' << @page_title : ''}" %></title>
		<%= yield :gmap_script %>
		<%= javascript_include_tag '/cip/cip.js', 'admin' %>
		<%= stylesheet_link_tag '/cip/cip.js', 'admin'%>
		
		<script type="text/javascript">
			CIApplication.baseParams = { authenticity_token: "<%=form_authenticity_token%>" };
		</script>
	</head>
	<body>
		<div id="quickMail_hud">
			<table class="form_table" style="width: auto;">
				<tr>
					<td class="label">Quickly Email:</td>
					<td><span id="quickMail_hud_name">Customer</span></td>
				</tr>
				<tr>
					<td class="label">Using Template:</td>
					<td><select id="quickMail_hud_select"></select></td>
				</tr>
				<tr>
					<td class="label"><input type="button" value="Close" onclick="$('quickMail_hud').fade('hide');"/></td>
					<td>
						<input id="quickMail_hud_sendButton" type="button" value="Send Email" onclick="sendQuickMail();" />
						<p id="quickMail_hud_status" title="" class="hasToolTip" onclick="$('quickMail_hud').fade('hide');"></p>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="layout_header" class="centerContainer">
			<% if current_account.empty? %>
				<h1>Nationwide Home Warranty</h1>
			<% elsif not current_account.can_see_nhw_tabs %>
				<h1>Welcome to Nationwide Home Warranty, <%= current_account.parent.send(current_account.contractor? ? :company : :name) %></h1>
			<% else %>
				<br/>
			<% end %>
		</div>
		<div id="layout_tabs" class="centerContainer">
			<% if current_account.can_see_nhw_tabs %>
				<a class="<%= 'selected' if @selected_tab == 'dashboard'%>" href="/admin">Dashboard</a>
				<a class="<%= 'selected' if @selected_tab == 'edit'%>" href="/admin/customers">Edit Customers</a>
				<a class="<%= 'selected' if @selected_tab == 'add'%>" href="/admin/customers/add">Add Customer</a>
				<a class="<%= 'selected' if @selected_tab == 'contractors'%>" href="/admin/contractors">Contractors</a>
				<a class="<%= 'selected' if @selected_tab == 'templates'%>" href="/admin/email_templates">Email Templates</a>
				
				<% if current_account.can_crud_content %>
				<a class="<%= 'selected' if @selected_tab == 'content'%>" href="/admin/content">Content</a>
				<% end %>
				
				<% if current_account.can_crud_packages %>
				<a class="<%= 'selected' if @selected_tab == 'packages'%>" href="/admin/packages">Packages</a>
				<% end %>
				
				<% if current_account.can_crud_discounts %>
				<a class="<%= 'selected' if @selected_tab == 'discounts'%>" href="/admin/discounts">Discounts</a>
				<% end %>
				
				<% if current_account.can_crud_transactions %>
				<a class="<%= 'selected' if @selected_tab == 'transactions'%>" href="/admin/transactions">Transactions</a>
				<% end %>
				
				<% if current_account.can_crud_agents %>
				<a class="<%= 'selected' if @selected_tab == 'agents'%>" href="/admin/agents">Agents</a>
				<% end %>

				<a style="margin-left: 30px;" href="/admin/logout">Logout</a>
			<% elsif current_account.customer? %>
				<a class="<%= 'selected' if @selected_tab == 'edit'%>" href="/admin/customers/edit/<%=current_account.parent.id%>">Personal Info.</a>
				<a href="/admin/customers/claims#add">Make Claim</a>
				<a class="<%= 'selected' if @selected_tab == 'claims'%>" href="/admin/customers/claims">My Claims</a>
				<!--<a class="<%= 'selected' if @selected_tab == 'history'%>" href="/admin/customers/claim_history">Claim History</a>-->
				<a style="margin-left: 30px;" href="/admin/logout">Logout</a>
			<% elsif current_account.contractor? %>
				<!--<a class="<%= 'selected' if @selected_tab == 'contractors'%>" href="/admin/customers/edit/<%=current_account.parent.id%>">Company Info.</a> -->
				<a class="<%= 'selected' if @selected_tab == 'repairs'%>" href="/admin/customers/claims">Repairs</a>
				<a style="margin-left: 30px;" href="/admin/logout">Logout</a>
			<% else %>
				<a class="<%= 'selected' if @selected_tab == 'login'%>" href="/admin/login">Login</a>
			<% end %>
		</div>
		<div id="layout_secondnav" class="centerContainer">
			<div style="position: relative; top: 3px; left: 3px; display: inline;">
				<% if current_account.customer? %>
					<a href="/admin/customers/claims" style="font-size: 18px;">Your Contract Number is <strong><%=current_account.parent.contract_number%></strong>.</a>
					<a href="/admin/customers/contract/<%=current_account.parent.id%>" style="font-size: 18px;">Download your contract as a PDF.</a>
				<% elsif current_account.can_see_nhw_tabs %>
					<% form_tag('/admin/customers/search', :style => 'display: inline;') do %>
						<%= text_field_tag 'query' %>
						<select name="parameter">
							<option value="id">Customer ID</option>
							<option value="first_name">First Name</option>
							<option value="last_name">Last Name</option>
							<option value="email">Email</option>
							<option value="customer_city">City</option>
							<option value="customer_state">State (2-letter)</option>
							<option value="customer_zip">Zip Code</option>
							<option value="customer_phone">Phone Number</option>
						</select>
						<%= submit_tag "Search" %>
					<% end %>
					<a href="/admin/customers/list/new">New Customer</a>
					<a href="/admin/customers/list/leftmessage">Left Message</a>
					<a href="/admin/customers/list/deleted">Deleted Customer</a>
					<a href="/admin/customers/list/followup">Follow Up</a>
					<% if current_account.can_see_completed_orders %>
					<a href="/admin/customers/list/completedorder">Completed Order</a>
					<% end %>
					<a href="/admin/customers/list/proforma">Proforma</a>
					<a href="/admin/customers/list/cancelled">Cancelled</a>
				<% end %>
			</div>
		</div>
		<div id="layout_content" class="centerContainer">
			<%= yield %>
		</div>
		<div id="layout_footer" class="centerContainer">
			Notice: UPS assumes no liability for the information provided by the address validation functionality. The address validation functionality does not support the identification or verification of occupants at an address.
		</div>
	</body>
</html>